<div class="card border border-success m-0 mt-2 mb-2">
    <div class="card-body">
        <h5 class="card-title">
            Receptionist Needed | <br />
            <small> Brichmond Dental </small>
        </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">View this job</a>
    </div>
</div>
