<a href="#" style="text-decoration: none;">
<div class="job border">
	<div class="p-2">
		<p class="h1" style="font-size: 18px;">Jason Dental</p>
		<small >San Francisco, CA | </small>
	</div>
	<div class="card-footer p-1">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
</a>