<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow-sm">
    <a class="navbar-brand" href="/home">BookMeDental {{capitalize accType}}
    {{!-- {{#if admin_active}}Admin{{/if}}
    {{#if applicant_active}}Applicant{{/if}}
    {{#if employer_active}}Employer{{/if}} --}}

    <i class="fas fa-tooth"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {{#if home_active}}active{{/if}}">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{#if features_active}}active{{/if}}">
                <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item disabled {{#if pricing_active}}active{{/if}}">
                <a class="nav-link disabled" href="/pricing">Extras</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {{#if admin_active}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b style="color: orange">1</b> <i class="fas fa-bell" style="color: orange"></i>
                </a>
            </li>
            {{/if}}

            {{#if active_session}}
            <li class="nav-item {{#if profile_active}}active{{/if}}">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link {{#if login_active}}active{{/if}}" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if register_active}}active{{/if}}" href="/register">Register</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>