<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">BookMeDental <i class="fas fa-tooth"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {{#if home_active}}active{{/if}}">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{#if features_active}}active{{/if}}">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item {{#if pricing_active}}active{{/if}}">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Register your clinic.</a>
                    <a class="dropdown-item" href="#">Something else</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {{#if profile_active}}active{{/if}}">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if login_active}}active{{/if}}" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if register_active}}active{{/if}}" href="/register">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
