<div class="mt-5" style="text-align: center; padding-top: 5%">
	<p class = "h1 gradient-text" style = "font-weight: 800; font-size: 80px;">404 Error</p>
	<i class="far fa-grimace gradient-text" style="font-size: 200px;"></i>
	<p class="mt-4">Uh oh! We can't seem to find the page you're looking for because it doesn't exist.</p>
	<small>This might be an error on our end or a faulty link</small>
</div>