<link href="css/sidebar.css" rel="stylesheet" />

<style>
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">
  //Responsive Side Tabbing

  window.lastActive = 'generalTab';

  function tabCheck(tab, typeTab) {
    if(tab == 'employers') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "block";
      document.getElementById('appTable').style.display = "none";
      document.getElementById('jobTable').style.display = "none";

    } else if (tab == 'applicants') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "none";
      document.getElementById('appTable').style.display = "block";
      document.getElementById('jobTable').style.display = "none";

    } else if (tab == 'jobs') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "none";
      document.getElementById('appTable').style.display = "none";
      document.getElementById('jobTable').style.display = "block";
    } else if (tab == 'general') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "block";
      document.getElementById('appTable').style.display = "block";
      document.getElementById('jobTable').style.display = "block";
    }
  }

</script>

<style>
    body {
    }
</style>

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link active" id="generalTab" onclick="tabCheck('general', 'generalTab')" href="#">
                    <span data-feather="home"></span>
                    General Overview <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="empTab" onclick="tabCheck('employers', 'empTab')" href="#">
                    <span data-feather="file"></span>
                    List of Employers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="appTab" onclick="tabCheck('applicants', 'appTab')" href="#">
                    <span data-feather="shopping-cart"></span>
                    List of Applicants
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="jobTab" onclick="tabCheck('jobs', 'jobTab')" href="#">
                    <span data-feather="users"></span>
                    List of Posted Jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    List of Fast Hired
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Others</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Reviews
                </a>
            </li>
        </ul>
    </div>

</nav>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <h1 class="pt-4" style="font-size: 40px;">General Overview</h1>
    <div class="alert alert-warning" role="alert"><i class="fas fa-bell"></i> While you were gone one (1) new clinic/s were recently registered.</div>

    <div id="empTable">
      <h3>Employers</h3>
      <div id="employers-table"></div>
      <hr>
    </div>

    <div id="appTable">
      <h3>Applicants</h3>
      <div id="applicants-table"></div>
      <hr>
    </div>

    <div id="jobTable">
      <h3>Jobs</h3>
      <div id="jobs-table"></div>
      <hr>
    </div>

</main>

<script src="/js/adminTables.js"></script>

<!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal -->
<div class="modal fade" id="admin_employerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <pre class="modal-body" id="empModalBody">
        
      </pre>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-success" data-toggle="modal" data-target="#admin_confirmApprove">Approve Status</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger"  data-toggle="modal" data-target="#admin_confirmDecline">Decline Status</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal -->

<!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal -->
<div class="modal fade" id="admin_applicantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <pre class="modal-body" id="appModalBody">
        
      </pre>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-primary" data-toggle="modal" data-target="#admin_confirmApprove">Edit Account</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger"  data-toggle="modal" data-target="#admin_confirmDecline">Delete Account</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal -->

<!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal -->
<div class="modal fade" id="admin_jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <pre class="modal-body pb-0 mb-0" id="jobModalBody">
        
      </pre>
      <span class="modal-body pt-0 mt-0" id="jobModalBodyDesc">
        
      </span>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger" data-toggle="modal" data-target="#admin_confirmApprove">Close Job</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal -->

<!-- Modal -->
<div class="modal fade" id="admin_confirmApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="admin_confirmApproveTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-success">Confirm Approval</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Go Back</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="admin_confirmDecline" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="admin_confirmDeclineTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger">Decline Status</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Go Back</button>
      </div>
    </div>
  </div>
</div>