<link href="css/sidebar.css" rel="stylesheet" />


<style>
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">
  //Responsive Side Tabbing

  window.lastActive = 'generalTab';

  function tabCheck(tab, typeTab) {
    if(tab == 'employers') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "block";
      document.getElementById('appTable').style.display = "none";
      document.getElementById('jobTable').style.display = "none";

    } else if (tab == 'applicants') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "none";
      document.getElementById('appTable').style.display = "block";
      document.getElementById('jobTable').style.display = "none";

    } else if (tab == 'jobs') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "none";
      document.getElementById('appTable').style.display = "none";
      document.getElementById('jobTable').style.display = "block";
    } else if (tab == 'general') {
      document.getElementById(lastActive).className =
      document.getElementById(lastActive).className.replace( /(?:^|\s)active(?!\S)/g , '' );

      document.getElementById(typeTab).className += " active";
      lastActive = typeTab;

      document.getElementById('empTable').style.display = "block";
      document.getElementById('appTable').style.display = "block";
      document.getElementById('jobTable').style.display = "block";
    }
  }

</script>

<style>
    body {
    }
</style>

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link active" id="generalTab" onclick="tabCheck('general', 'generalTab')" href="#">
                    General Overview <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="empTab" onclick="tabCheck('employers', 'empTab')" href="#">
                    List of Employers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="appTab" onclick="tabCheck('applicants', 'appTab')" href="#">
                    List of Applicants
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="jobTab" onclick="tabCheck('jobs', 'jobTab')" href="#">
                    List of Posted Jobs
                </a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <h1 class="pt-4" style="font-size: 40px;">General Overview</h1>
    <div class="alert alert-warning" role="alert"><i class="fas fa-bell"></i> While you were gone one (1) new clinic/s were recently registered.</div>

    <div id="empTable">
      <h3>Employers</h3>
      <div id="employers-table"></div>
      <hr>
    </div>

    <div id="appTable">
      <h3>Applicants</h3>
      <div id="applicants-table"></div>
      <hr>
    </div>

    <div id="jobTable">
      <h3>Jobs</h3>
      <div id="jobs-table"></div>
      <hr>
    </div>

    <div id="jobAppTable">
      <h3>Applicants per Job</h3>
      <label for="input-job-id" style="margin-right: .5rem;">Job ID</label><input size="30" type="text" name="job_id" id="input-job-id">
      <div id="job-app-table"></div>
      <hr>
    </div>
</main>


<!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal -->
<div class="modal" id="admin_employerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="empModalBody" style="font-size: 15px; ">
        <p style="margin-bottom: -7px; font-size: 20px;" >Account Details</p><br>
        <p style="margin-bottom: 5px;"><b>Account ID:</b><span style="margin-left: 58px;" id="acc_id"></span></p>
        <p style="margin-bottom: 5px;"><b>Account Name:</b><span style="margin-left: 35px;" id="acc_name"></span></p>
        <p style="margin-bottom: 5px;"><b>Account Email:</b><span style="margin-left: 37px;" id="acc_email"></span></p>
        <p style="margin-bottom: 5px;"><b>Account Phone:</b><span style="margin-left: 30px;" id="acc_phone"></span></p>
        <p style="margin-bottom: 5px;"><b>Clinic Name:</b><span style="margin-left: 55px;" id="cl_name"></span></p>
        <p style="margin-bottom: 5px;"><b>Account Created:</b><span style="margin-left: 20px;" id="acc_create"></span></p>
        <p style="margin-bottom: 5px;"><b>Account Status:</b><span style="margin-left: 30px;" id="acc_stat"></span></p>
      </div>
      <div class="modal-footer" id="admin_approveBtn">
        {{!-- <button type="button" style="display: inline-block;" class="w-100 btn btn-success" data-toggle="modal" data-target="#admin_confirmApprove">Approve Status</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger"  data-toggle="modal" data-target="#admin_confirmDecline">Decline Status</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Close</button> --}}
      </div>
    </div>
  </div>
</div>
<!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal --><!-- APP Modal -->

<!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal -->
<div class="modal" id="admin_applicantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <pre class="modal-body" id="appModalBody">
        
      </pre>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Close</button>
        <!--
        <button type="button" style="display: inline-block;" class="w-100 btn btn-primary" data-toggle="modal" data-target="#admin_confirmApprove">Edit Account</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger"  data-toggle="modal" data-target="#admin_confirmDecline">Delete Account</button>
        -->
        
      </div>
    </div>
  </div>
</div>
<!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal --><!-- EMP Modal -->

<!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal -->
<div class="modal" id="admin_jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <pre class="modal-body pb-0 mb-0" id="jobModalBody">
      </pre>

      <textarea class="form-control p-2" id="jobModalBodyDesc" rows="6" readonly>
      </textarea>

      <div class="p-2">
        <a data-toggle="collapse" data-dismiss="modal" href="#" id="collapseAppList" role="button" aria-expanded="false" aria-controls="{{_id}}">View list of Job Applicants</a>

        <div class="collapse " id="jobAppList"> 

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger" data-toggle="modal" data-target="#admin_closeJob">Close Job</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal --><!-- JOB Modal -->

<!-- Modal -->
<div class="modal" id="admin_confirmApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="admin_confirmApproveTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer" style="margin-left: 30px;">
        <form method="post" action="/confirmEmpStatus">
          <input type="text" value="" id="confirm_id" name="confirm_id" style="display: none;">
          <button type="button" style="display: inline-block; margin-left: 90px;" class="w-150 btn btn-secondary" data-dismiss="modal">Go Back</button>
           <button type="submit" style="display: inline-block; margin-left: 90px;" class="w-150 btn btn-success">Confirm Approval</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="admin_confirmDecline" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="admin_confirmDeclineTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-footer" style="margin-left: 30px;">
        <form method="post" action="/declineEmpStatus">
          <input type="text" value="" id="decline_id" name="decline_id" style="display: none;">
          <button type="button" style="display: inline-block; margin-left: 90px;" class="w-150 btn btn-secondary" data-dismiss="modal">Go Back</button>
           <button type="submit" style="display: inline-block; margin-left: 90px;" class="w-150 btn btn-danger">Decline Status</button>
        </form>
      </div>
      {{!-- <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger">Decline Status</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Go Back</button>
      </div> --}}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="admin_closeJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="admin_closeJobTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" style="display: inline-block;" class="w-100 btn btn-danger">Close Job</button>
        <button type="button" style="display: inline-block;" class="w-100 btn btn-secondary" data-dismiss="modal">Go Back</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/adminTables.js"></script>
