<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    form label {
        font-weight: bold;
    }

    textarea {
        resize: none;
    }
</style>
<p class="h1 shrink" style="font-size: 70px; text-align: center; color: #8455ca; margin-top: 4rem;">
    Post Job
    <i class="fas fa-tooth"></i>
</p>
<!-- OWNER INFORMATION -->
<form action="/create" method="POST">

    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Placement</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">What kind of job are you offering?</p>
                <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn w-100 btn-secondary active">
                <i class="fas fa-user" style="font-size: 42px"></i> <br>
                <input type="radio" name="placement" id="Permanent" autocomplete="off" value="Permanent" checked>Permanent
              </label>
              <label class="btn w-100 btn-secondary">
                <i class="fas fa-user-nurse" style="font-size: 42px"></i> <br>
                <input type="radio" name="placement" id="Temporary" autocomplete="off" value="Temporary">Temporary
            </div>
        </div>
    </div>

    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
        <div class="card-title" style="font-size: 42px;">Position</div>
        <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Who are you looking to hire?</p>
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <label class="btn w-100 btn-secondary active">
            <i class="fas fa-user" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="frontdesk" autocomplete="off" value="Front Desk" checked> Front Desk
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-nurse" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="dentalass" autocomplete="off" value="Dental Assistant"> Dental Assistant
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-ninja" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="dentalhyg" autocomplete="off" value="Dental Hygienist"> Dental Hygenist
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-md" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="dental" autocomplete="off" value="Dentist"> Dentist
          </label>
        </div>
            </div>
    </div>
    <!-- CLINIC LOCATION -->
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Location</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Where and when is the job needed?</p>
            <div class="card-text">
                <label for="inputGroupSelect04">Clinic</label>
                <div class="input-group">
                    <select class="custom-select" id="clinic" name="clinic" aria-label="Example select with button addon">
                        <option value="Main Clinic" selected>Main Clinic</option>
                    </select>
                </div>
            </div>
            <br>
            <label for="example-datetime-local-input">Date Needed</label>
            <input class="form-control" type="date" id="date" name="date" required>
        </div>
    </div>

    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Job Details</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Write a quick description about this job</p>
            <div class="card-text">
                <label>Job Description</label><br />
                <textarea class="w-100 border" id="jobdescription" name="jobdescription" style="height: 8em;" required></textarea>
        </div>
    </div>
</div>
    <!-- CLINIC CONTACT -->
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Optional Filters</div>
            <div class="card-title">
                            <label for="clinic_con_name">Software Proficiency</label>
                            <input type="text" class="form-control" id="software" name="software" aria-describedby="emailHelp" placeholder="List down your needed softwares..." />
                           <br>
                <div class="card-text">
                <label for="inputGroupSelect04">Experience</label>
                <div class="input-group">
                  <select class="custom-select" id="experience" name="experience" aria-label="Example select with button addon">
                    <option value="Less than a Year" selected>Less than a Year</option>
                    <option value="1 Year">1 Year</option>
                    <option value="More than a Year">More than a Year </option>
                    <option value="5 Years or More">5 Years or More</option>
                  </select>
                </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" id="save_button" style="background-color: #8455ca; font-weight: 800">Post</button>
        </div>
    </div>
    </div>
</form>
