<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    form label {
        font-weight: bold;
    }

    textarea {
        resize: none;
    }

    #container {
        display: flex;
        justify-content: left;
        height: 250px;
        text-align: center;
        margin-top: -20px;
    }

    .container2 {
        height: auto;
        width: 250px;
        padding-top: 40px;
    }

    .container3 {
        height: auto;
        width: 510px;
        padding-left: 50px;
        padding-top: 70px;
        margin-left: -30px;
    }

    .img-circle {
        width: 150px;
        height: 150px;
        border: 4px solid none;
        border-radius: 50%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
</style>
<p class="h1 shrink" style="font-size: 70px; text-align: center; color: #8455ca; margin-top: 4rem;">
    Post Job
    <i class="fas fa-tooth"></i>
</p>
<!-- OWNER INFORMATION -->
<form action="/form-emp" method="POST">
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
        <div class="card-title" style="font-size: 42px;">Position</div>
        <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Who are you looking to hire?</p>
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <label class="btn w-100 btn-secondary active">
            <i class="fas fa-user" style="font-size: 42px"></i> <br>
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Front Desk
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-nurse" style="font-size: 42px"></i> <br>
            <input type="radio" name="options" id="option2" autocomplete="off"> Dental Assistant
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-ninja" style="font-size: 42px"></i> <br>
            <input type="radio" name="options" id="option3" autocomplete="off"> Dental Hygenist
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-md" style="font-size: 42px"></i> <br>
            <input type="radio" name="options" id="option3" autocomplete="off"> Dentist
          </label>
        </div>
            </div>
    </div>
    <!-- CLINIC LOCATION -->
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Location</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Details</p>
            <div class="card-text">
                <label for="inputGroupSelect04">Clinic</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
            </div>
            <br>
            <label for="example-datetime-local-input">Date Needed</label>
            <input class="form-control" type="date" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
    </div>
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Job Details</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Anything we need to know about your clinic?</p>
            <div class="card-text">
                <label>Short Personal Profile</label><br />
                <textarea class="w-100 border" id="shortprofile" name="shortprofile" style="height: 8em;"> </textarea>
            </div>
        </div>
    </div>
    <!-- CLINIC CONTACT -->
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Optional Filters</div>
            <div class="card-title">
                            <label for="clinic_con_name">Software Proficiency</label>
                            <input type="text" class="form-control" id="clinic_con_name" name="clinic_con_name" aria-describedby="emailHelp" placeholder="Full Name" value="{{inputs.clinic_con_name}}" />
                            <p style="color: red;">{{details.clinic_con_nameError}}</p>
                <div class="card-text">
                <label for="inputGroupSelect04">Experience</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Less than a Year</option>
                    <option value="1">1 Year</option>
                    <option value="2">More than a Year </option>
                    <option value="3">5 Years or More</option>
                  </select>
                </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" id="save_button" style="background-color: #8455ca; font-weight: 800">Post</button>
        </div>

    </div>
    </div>
</form>
