<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    .title {
    	font-size: 42px;
    }

    .flex-row{
	    display: flex;
	    flex-wrap: wrap;
	}
</style>

<div class="container mb-4 p-0" style="margin-top: 5em;">

	<div class="row mb-2">
		<div class="card w-100 border m-0 p-2 ">
			<span class="title"> <b>Maximus Lorem</b> at <b>BookMeDental</b> </span>
			<small> Posted 7 hours ago by <a href="#">BookMeDental Inc</a></small>
		</div>
	</div>

	<hr>

	<div class="row">

		<div class="col-sm-9 pl-0 pr-1">
			<div class="card border m-0 p-2 shadow-sm">
				<p class="h3">Job Description</p>
				<p class="description"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? </p>

				<button type="submit" class="btn btn-primary w-100" style="background-color: #8455ca;">Apply</button>
			</div>

			<hr>

			<div class="card border m-0 mt-4 p-2 shadow-sm">
				<div class="row flex-row">
					<div class="col">
						<b>Position</b> <br>
						<small>Front Desk</small>
					</div>
					<div class="col">
						<b>Software</b> <br>
						<small>Dentrix</small>
					</div>
					<div class="col">
						<b>Experience</b> <br>
						<small>At least 1 Year of Experience</small>
					</div>
					<div class="col">
						<b>Date Needed</b> <br>
						<small>1 / 21 / 2022</small>
					</div>
				</div>
			</div>

		</div>

		<div class="col-sm-3 pr-0 pl-1">
			<div class="card border shadow-sm mx-auto profile-length h-100" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        DBA Dental
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow" style="color: #8455ca;">&nbsp;</i> Beaverly Hills, CA </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope" style="color: #8455ca;">&nbsp;</i> pamtidalgo@hotmail.com </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone" style="color: #8455ca;">&nbsp;</i> (+63) 09176565612 </span>
                    <br />
                </div>
            </div>
		</div>

	</div>
</div>