<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    .title {
        font-size: 42px;
    }

    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 5em;">

    <div class="row mb-2">
        <div class="card w-100 border m-0 p-2 ">
            <span class="title"> Jacob Darvin</b> </span>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-sm-9 pl-0 pr-1">
            <div class="card border m-0 p-2 shadow-sm">
                <p class="h3">Description</p>
                <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet.</p>

                <button type="submit" class="btn btn-primary w-100" style="background-color: #8455ca;">Hire</button>
            </div>

            <hr>

            <div class="card border m-0 mt-4 p-2 shadow-sm">
                <div class="row flex-row">
                    <div class="col">
                        <b>Position</b> <br>
                        <small>Front Desk</small>
                    </div>
                    <div class="col">
                        <b>Software</b> <br>
                        <small>List of softwares</small>
                    </div>
                    <div class="col">
                        <b>Experience</b> <br>
                        <small>5 Yers of Experience</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-3 pr-0 pl-1">
            <div class="card border shadow-sm mx-auto profile-length h-100" style="width: 100%;">
                <img src="/imgs/portrait.png" class="w-100" style="object-fit: cover; height: 246px;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow"
                            style="color: #8455ca;">&nbsp;</i> City, State </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope"
                            style="color: #8455ca;">&nbsp;</i> Email@gmail.com </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone"
                            style="color: #8455ca;">&nbsp;</i> 555 555 1234 </span>
                    <br />
                </div>
            </div>
        </div>

    </div>
</div>