<div class="masthead-features">
    <div class="container pb-3" style="text-align: center;">
        <p class="h1" style="color: white; font-size: 80px; font-weight: 800;">Features that Fit <i class="fas fa-tooth"></i></p>
    </div>

    <div class="container p-0 pb-2" style="text-align: center;">
            <div class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem;">
                <img src="/imgs/apply.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Apply</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem;">
                <img src="/imgs/hire.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Hire</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem;">
                <img src="/imgs/network.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Network</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem;">
                <img src="/imgs/explore.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Explore</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
    </div>
</div>

<div class="container" style="padding-bottom: 4em;">
    <h1 style="text-align: center;">How It Works</h1>
    <p style="text-align: center;">Bringing business and community members together</p>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
        Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
        1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
        "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </p>
</div>
