<style>
html {
  scroll-behavior: smooth;
}
</style>

<script type="text/javascript">
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<div class="masthead-features">
    <div class="container pb-3" style="text-align: center;">
        <p class="h1 gradient-text-gold" style="color: white; font-size: 80px; ">Register. Apply. Hire. <img style="display: inline-block; width: 80px;" src="imgs/logo/tooth.svg"></p>
    </div>

    <div class="container p-0 pb-2" style="text-align: center;">
            <a href="#apply" class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem; text-decoration: none;">
                <img src="/imgs/apply.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Apply</h3>
                    <p class="card-text">Create an account and experience the convenience of being able to apply for jobs online.</p>
                </div>
            </a>
            <a href="#hire" class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem; text-decoration: none;">
                <img src="/imgs/hire.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Hire</h3>
                    <p class="card-text">Employers can hire potential employees either via a job posting created, or via contacting.</p>
                </div>
            </a>
            <a href="#network" class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem; text-decoration: none;">
                <img src="/imgs/network.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Network</h3>
                    <p class="card-text">Expand your network and discover different employment opportunities created by different employers.</p>
                </div>
            </a>
            <a href="#explore" class="col p-0 m-2 display-card card hvr-grow shadow" style="width: 16rem; text-decoration: none;">
                <img src="/imgs/explore.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-title">Explore</h3>
                    <p class="card-text">Explore the vast features of BookMe Dental. See what our application offers for your dentistry hiring needs.</p>
                </div>
            </a>
    </div>
</div>
<div class="container" style="padding-bottom: 2em;">
    <hr>
    <section id="apply" class="pt-5">
        <p class="h1 shrink gradient-text" style="font-size: 70px;">1.0 How it Works</p>
        <hr>
        <p class="h4 gradient-text">1.1 <b>Applying</b></p>
        <p>
        Create an account and experience the convenience of being able to apply for jobs online. BookMeDental is a job offering website focusing in the field of dentistry, dedicated to providing various job opportunities to upcoming applicants.
        </p>

        <ol type="a">
          <li><i>What happens when you apply as an Applicant?</i></li> <br>
          <p>As you apply as an Applicant, you will gain access to search and apply for any job in the field of dentistry based on the position you have applied for. </p>

          <li><i>What happens when you apply as an Employer?</i></li> <br>
          <p>As you apply as an Employer, you will gain access to the Websites features for hiring an applicant to be a (parttime/fulltime) employee. </p>

        </ol>
    </section>

    <section id="hire" class="pt-5">
        <hr>
        <p class="h4 gradient-text">1.2 <b>Hiring</b></p>
        <ol type="a">
          <li><i>How does the Employer hire an employee?</i></li> <br>
          <p>Employers can hire potential employees either via a job posting created, or via quick hire. Through job posting, Employers will be able to view a list of applicants that have applied for the job created, as well as download and view their resumes for further deliberation.</p>

          <li><i>How will the Applicant be informed that they got hired?</i></li> <br>
          <p>Applicants will be notified by the app when they have been hired or contacted by the employer. BookMeDental will notify applicants through email for any activity (i.e. hiring notification, or contact notification) </p>

          <li><i>What does it mean to be hired Temporarily in this Application?</i></li> <br>
          <p>Being hired temporarily means that applicants will be working for a limited period of time for a specific employer. This also means that the temporary employee’s wage will be per hour basis instead of a fixed rate (for permanent employees) </p>

          <li><i>What is the difference between getting hired Temporarily and Permanently?</i></li> <br>
          <p>The difference between getting hired Temporarily and Permanently is that temporary workers will only work for the employer for a specified period of time, with their wage being per hour. Permanent workers... </p>
    </section>

    <section id="network" class="pt-5">
        <hr>
        <p class="h4 gradient-text">1.3 <b>Networking</b></p>
        <p>
        Expand your network and discover different employment opportunities created by different employers.
        </p>

        <ol type="a">
          <li><i>What will applying a clinic to the website mean?</i></li> <br>
          <p>Registering a clinic to the website means that you are looking for potential employees for your clinic, and would need more manpower either temporarily or permanently. </p>

          <li><i>What is the relationship between Employer and Applicant in the website?</i></li> <br>
          <p>BookMeDental allows applicants to connect with employers through job offerings, and increase the hiring opportunities that applicants can receive. At the same time, BookMeDental connects the employers to other applicants, giving them a various amount of potential employees to hire. </p>
        </ol>
    </section>

    <section id="explore" class="pt-5">
        <hr>
        <p class="h4 gradient-text">1.4 <b>Explore</b></p>
        <p>
        Explore every feature that is available to you.
        </p>

        <ol type="a">
          <li><i>What are the features used by Employers?</i></li> <br>
          <p>BookMeDental provides different sets of features to different users based on their registration type, and allows the users to explore further. For users that registered as employers, you have access to the list of applicants that have registered to BookMeDental, where you can hire them for work. You can also create job offerings that applicants can apply for. Lastly, if you’re looking for potential employees on short notice, you can contact applicants immediately. You can also update your dashboard information, as well as your job postings. </p>

          <li><i>What are the features used by Applicants?</i></li> <br>
          <p>BookMeDental provides different sets of features to different users based on their registration type, and allows the users to explore further. For users that registered as applicants, you have access to searching and applying for job offerings posted by employers in BookMeDental. You can also update your dashboard information, as well as the resume you have uploaded to provide better and up-to-date information. </p>
        </ol>

     <img src="imgs/gfx/h2.png" style="width: inherit; max-width: 650px; display:block;  margin: 0 auto;">
    </section>

    <section id="applicant" class="pt-5">
        <hr>
        <p class="h1 shrink gradient-text" style="font-size: 70px;">2.0 Being an Applicant</p>
        <hr>
        <p class="h4 gradient-text">2.1 <b>Registering as an Applicant</b></p>
        <p>
        Explore every feature that is available to you.
        </p>

        <ol type="a">
          <li><i>Read Carefully before proceeding:</i></li> <br>
          <p>When a User registers in BookMeDental as an applicant, you are required to provide the Contact Information, Qualifications, Placement Preference, Additional Information, and agree to the Candidate Agreement. Users are required to read carefully on each of the components of the form before proceeding further into the website. This will help the system read your data and conveniently provide you the Jobs of your liking. </p>

          <li><i>Qualification</i></li> <br>
          <p>As users input their Qualifications, BookMeDental will create a rundown recommendation of the jobs of the user’s liking. All information provided under the Qualification will be used to give the Applicant a chance to be hired by an Employer. Based on the preferred job position, the user will automatically be shown a list of posted jobs recommended for that position. Dental programs and specificities are additional references. </p>

          <li><i>Placement Preferences</i></li> <br>
          <p>This section of the Applicant registration form asks the user on their job preferences when working. Looking for a part-time job means that the user will opt to put in their available days. Other additional information will be used as references to the Employer. </p>

          <li><i>Additional Profile Information</i></li> <br>
          <p>When registering further as an applicant, one of the things you’ll need to take note of is your resume upload. In BookMeDental, the accepted format of your resume is only a PDF file type. This gives more convenience to the employers that will assess you and your skills and experience. </p>

          <p>Another is that you will not be able to view and search for other employers on the website. Registered Applicants can only view and search for specific job posts available based on their job position. Yes a basic view of some information about the employers is present, but you won’t be able to go view the full details/dashboard of an employer. </p>
        </ol>

    </section>

    <section id="dashboard-app" class="pt-5">
        <hr>
        <p class="h4 gradient-text">2.2 <b>Dashboard</b></p>

        <ol type="a">
          <li><i>What you need to know</i></li> <br>
          <p>Once you have successfully registered as an applicant, you will be redirected to your dashboard page. Here, you are able to view the list of jobs that are matched to you by the website (based on your job position), as well as the list of active jobs that you have applied for. You can also search for other job offerings available. </p>

          <li><i>More</i></li> <br>
          <p>Applicants are able to edit their dashboard profile to further market themselves to employers. Applicants can edit their contact information, as well as the job position they are applying for. Furthermore, Applicants can upload and edit their resumes that the employers will view once they have applied for a job. </p>
        </ol>

    </section>

    <section id="feed-app" class="pt-5">
        <hr>
        <p class="h4 gradient-text">2.3 <b>Job Feed</b></p>

        <ol type="a">
          <li><i>What you need to know</i></li> <br>
          <p>The Job Feed shows the list of jobs available in BookMeDental, based on the job position the applicant has inputted. This system makes it more convenient for the applicants in looking for job opportunities that cater to their needs and specialties. </p>

          <li><i>More</i></li> <br>
          <p>Applicants can search for available job positions offered by various employers, and also filter their search results either by location, job placement, and much more. Also, from the job feed, they can view further the details of a job offering, including the requirements, job description, etc. </p>
        </ol>

    </section>

    <section id="employer" class="pt-5">
        <p class="h1 shrink gradient-text" style="font-size: 70px;">3.0 Being an Employer</p>
        <hr>
        <p class="h4 gradient-text">3.1 <b>Register as an Employer</b></p>

        <ol type="a">
          <li><i>Read carefully before proceeding:</i></li> <br>
          <p>When a User registers in BookMeDental as an employer, you are required to provide the account owner’s information, clinic information, and other additional information, as well as agreeing to the employer agreement provided by BookMeDental. Users are required to read carefully on each of the components of the form before proceeding further into the website. This will help the system read your data and provide you the list of potential employees that you can hire or contact. </p>

          <li><i>Clinic Location</i></li> <br>
          <p>As the employer inputs his information, the system will also ask the employer for the clinic’s location details. This will also help in giving applicants fully-detailed information about the location of the clinic that are offering job opportunities on the website. </p>

          <li><i>Clinic Contact</i></li> <br>
          <p>The clinic contact section will contain the main “point person” of the clinic. This contact is usually for managers, Human resources Leader, etc. As such, you must take note that the information in this section can be the same with the account owner’s information. That would mean that the account owner is the main contact of the clinic. </p>

          <li><i>Additional Detail</i></li> <br>
          <p>This section focuses on other optional information that you may want to fill up. From the softwares your clinic uses, to the clinic’s specialties and services offered, this section focuses on giving more detailed information about what the clinic is and what it does. This section also contains the employer agreement, which must be read and agreed upon by the user before registering fully. </p>
        </ol>

    </section>

    <section id="dashboard-emp" class="pt-5">
        <hr>
        <p class="h4 gradient-text">3.2 <b>Employer Dashboard</b></p>

        <ol type="a">
          <li><i>What you need to know</i></li> <br>
          <p>After your registration, the administrator of the website will conduct a verification check to maintain the legality and validity of BookMeDental. Once you have passed verification and/or you have logged in, you will be redirected to your main dashboard. Here you have access to the list of active jobs that you have created, as well as the number of permanent and temporary jobs you have created shown in your profile. </p>

          <li><i>More</i></li> <br>
          <p>Employers are able to create job offerings to find potential applicants for their clinic. Employers can also choose to search and contact an applicant, if they find the necessary requirements that were met by that applicant. Moreover, employers are able to edit their clinic information for potential applicants to find and contact them. </p>

        </ol>

    </section>

    <section id="feed-emp" class="pt-5">
        <hr>
        <p class="h4 gradient-text">3.3 <b>Job Feed</b></p>

        <ol type="a">
          <li><i>What you need to know</i></li> <br>
          <p>The job feed contains the list of jobs that you have currently created. This job feed will also serve as your main view in viewing, filtering, and sorting your existing job posts. </p>

          <li><i>More</i></li> <br>
          <p>Employers can view existing job feeds posted by their clinic, and are able to filter their feed based on the location, job placements and much more. Job feed previews the necessary information of the job offering, once the job offering is viewed more details are shown along with the applicant list that applied for the job. Employers can view the applicant’s profile from the applicant list and choose whether they would like  to hire the applicant or not. </p>

        </ol>

    </section>

    <section id="contact-emp" class="pt-5">
        <hr>
        <p class="h4 gradient-text">3.4 <b>Contact</b></p>

        <ol type="a">
          <li><i>What you need to know</i></li> <br>
          <p>Contact is an instance of an employer hiring an applicant, which is not necessarily via a Job posting. This feature answers the employer’s urgent requests and problems in terms of finding applicants within a short period of time. As such, employers can contact an applicant straightaway through their profile. </p>

        </ol>

    </section>
    <div class="" style="position: fixed; bottom: 10px; right: 10px;">
        <div class="mb-3" style="text-align: justify-all;">

        <a href="#apply">1.1 Apply</a><br>
        <a href="#hire">1.2 Hire</a><br>
        <a href="#network">1.3 Network</a><br>
        <a href="#explore">1.4 Explore</a><br>

        <hr>

        <a href="#applicant">2.1 Applciant</a><br>
        <a href="#dashboard-app">2.2 Dashboard</a><br>
        <a href="#feed-app">2.3 Job Feed</a><br>

        <hr>

        <a href="#employer">3.1 Employer</a><br>
        <a href="#dashboard-emp">3.2 Dashboard</a><br>
        <a href="#feed-emp">3.3 Job Feed</a><br>

        </div>
        <button class="btn btn-primary gradient-text" onclick="topFunction()" id="myBtn"><b>Back to Top</b></button>
    </div>
</div>
