<style>
	body {
		background-color: rgb(245, 245, 245);
	}
</style>

<div class="container mb-4 p-0" style="margin-top: 5em; display: flex">

	<div class="col m-0">
		{{#if hire}}
		<p class="h1">Hire Requests</p>
		{{/if}}

		{{#if contact}}
		<p class="h1">Contact Requests</p>
		{{/if}}

		{{#if hire}}
			{{#each hire_req}}
				{{> jobItem}}
			{{/each}}
		{{/if}}

		{{#if contact}}
			{{#each contact_req}}
				{{> contactItem}}
			{{/each}}
		{{/if}}
	</div>

</div>