<style>
    body {
        background-color: rgb(245, 245, 245);
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 5em; display: flex">

	<div class="col-sm-9 m-0">
		<p class="h1">Job Feed</p>
		<div class="h-100 card border m-0">
			{{> jobItem}}
			{{> jobItem}}
			{{> jobItem}}
			{{> jobItem}}
			{{> jobItem}}
			{{> jobItem}}
		</div>
	</div>

	<div class="col-sm-3">
		<p class="h1">Filter</p>
		<div class="h-100 card border m-0">
			
		</div>
	</div>

</div>