<style>
    body {
        background-color: rgb(245, 245, 245);
    }
</style>

<link rel="stylesheet" type="text/css" href="/css/hover.css" />

<div class="container mb-4 p-0" style="margin-top: 5em; display: flex">

	<div class="col-9 container p-0 pb-2 mb-0">
		<p class="h1 mb-0">Applicants</p>
        {{> appItem}}
        {{> appItem}}
        {{> appItem}}
        {{> appItem}}
    </div>

	<div class="col-sm-3 p-0">
		<p class="h1">Filter</p>
		<div class="h-100 card border m-0">
		</div>
	</div>

</div>