<section id="landing">
    <h2 style="color: white; font-size: 100px;">
        BookMe <br />
        Dental <i class="fas fa-tooth"></i>
    </h2>
</section>
<section id="learnMore">
    <h1>Welcome to BookMeDental! <i class="fas fa-tooth"></i></h1>
    <learnBody>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!
    </learnBody>
</section>
<div class="learnCards" style="padding-bottom: 5rem;">
    <div class="card" style="width: 16rem;">
        <img src="/imgs/placeholder.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h3 class="card-title">Apply</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="/imgs/placeholder.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h3 class="card-title">Hire</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="/imgs/placeholder.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h3 class="card-title">Network</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="/imgs/placeholder.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h3 class="card-title">Explore</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<section id="letsGetStarted">
    <font color="white" style="font-size: 80px; font-weight: 800">Ready? Let's get started!</font>
</section>
