<style>
    body {
        background-color: rgb(245, 245, 245); 
    }

    .container {
        /*margin-left: 0 !important;*/
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mx-auto" style="width: 100%;">
                <div class="card-body pb-2 pt-2">
                    <span class="card-title" style="font-size: 32px; font-weight: 800">Profile</span>
                </div>
                <img src="/imgs/portrait.png" style="width: inherit;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        Pam Tidalgo
                        <br>
                        <span style="font-size: 22px">Front Desk</span>
                    </span>
                   <hr>
                    <span class="card-text" style="text-align: left">
                        <i class="fas fa-location-arrow" style="color: #8455ca">&nbsp;</i> Beaverly Hills, CA
                    </span>
                    <br>
                    <span class="card-text" style="text-align: left">
                        <i class="far fa-envelope" style="color: #8455ca">&nbsp;</i> pamtidalgo@hotmail.com
                    </span>
                    <br>
                    <span class="card-text" style="text-align: left">
                        <i class="fas fa-phone" style="color: #8455ca">&nbsp;</i> (+63) 09176565612
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card mx-auto" style="width: 100%;">
                            <div class="card-body">
                                <div class="card-title" style="font-size: 42px; font-weight: 800">Dashboard</div>
                                <div class="card-text">
                                    Temporary Availability
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
