<style>
    body {
        background-color: rgb(245, 245, 245); 
    }
    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }
</style>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card mx-auto profile-length" style="width: 100%;">
                <div class="card-body pb-2 pt-2">
                    <span class="card-title" style="font-size: 32px; font-weight: 800;">Profile</span>
                </div>
                <img src="/imgs/portrait.png" style="width: inherit;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        Pam Tidalgo
                        <br>
                        <span style="font-size: 22px">Front Desk</span>
                    </span>
                    <!--
                    <span class="rectangle">
                    Active
                    -->
                    </span>
                   <hr>
                    <span class="card-text" style="text-align: left">
                        <i class="fas fa-location-arrow" style="color: #8455ca">&nbsp;</i> Beaverly Hills, CA
                    </span>
                    <br>
                    <span class="card-text" style="text-align: left">
                        <i class="far fa-envelope" style="color: #8455ca">&nbsp;</i> pamtidalgo@hotmail.com
                    </span>
                    <br>
                    <span class="card-text" style="text-align: left">
                        <i class="fas fa-phone" style="color: #8455ca">&nbsp;</i> (+63) 09176565612
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card mx-auto profile-length" style="width: 100%;">
                            <div class="card-body">
                                <div class="card-title" style="font-size: 42px; font-weight: 800">Dashboard</div> <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <span class="card-text">
                                                Temporary Availability <br>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <span class="card-text">
                                                Permanent Availability <br>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <span class="card-text">
                                                Hourly Wage <br>
                                                <b>$50 / hour</b> <small><a href="#">Update</a></small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h2>Recently Listed</h2>
                                        <div class="card mt-2 mb-2">
                                          <div class="card-body">
                                            <h5 class="card-title">Receptionist Needed | <br><small> Brichmond Dental </small></h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="#" class="btn btn-primary">View this job</a>
                                          </div>
                                        </div>
                                        <div class="card mt-2 mb-2">
                                          <div class="card-body">
                                            <h5 class="card-title">Front desk wanted (temp!) | <br><small> Brichmond Dental </small></h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="#" class="btn btn-primary">View this job</a>
                                          </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <h2> Upcoming Temp Opportunities </h2>
                                        <small>No upcoming temporary jobs are currently listed for you.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
