@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    
}

p {
   color: #55595c; 
}

.h1 {
    font-weight: 800;
}

.btn-primary {
    background-color: #8455ca;
}

.masthead {
    min-height: 100px;

    padding-top: 7rem;
    padding-bottom: 5rem;

    background: linear-gradient(52deg, rgba(123,31,162,1) 0%, rgba(150,193,255,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead-features {
    min-height: 400px;

    padding-top: 7rem;

    background: rgb(123,31,162);
    background: linear-gradient(180deg, rgba(123,31,162,1) 0%, rgba(150,193,255,1) 85%, rgba(255,255,255,1) 85%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.features {
    position: absolute;
    left: 10%;
    margin-left: -38rem;
}

.display-card {
    display: inline-block;
}

@media only screen and (max-width: 726px) {
    .jingle {
        display: none;
    }

    .shrink {
        font-size: 55px !important;
    }

    .card {
        width: 80% !important;
        margin: 0 auto;
    }

    .features {
        position: relative;
    }
}

.card {
    margin-left: 30px;
    margin-right: 30px;
    border: none;
}