@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F8FCFF;
    
}

p {
   color: #55595c; 
}

a {
    transition: 0.3s;
}

a:hover {
}

.h1 {
    font-weight: 800;
    color: #2f353e;
}

.gradient-text {
    /*background: -webkit-linear-gradient(18deg, rgba(110,231,128,1) 0%, rgba(0,212,255,1) 100%);*/

    background: -webkit-linear-gradient(18deg, rgba(40,70,105,1) 0%, rgba(73,150,241,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-gold {
    background: -webkit-linear-gradient(219deg, rgba(253,245,165,1) 0%, rgba(188,156,87,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3 {
    font-weight: 800 !important;
}

.btn-primary {
    background-color: #33699E !important;
    border-color: #285e8e !important;
}

.icon-color {
    color: #33699E !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    /* background-color: #7245b5; */
    background-color: #204870 !important;
    border-color: #285e8e; /*set the color you want here*/
}

.masthead {
    min-height: 100px;

    padding-top: 7rem;
    padding-bottom: 5rem;

    background: linear-gradient(18deg, rgba(40,70,105,1) 0%, rgba(73,150,241,1) 100%);
    /*background: linear-gradient(20deg, rgba(123,31,162,1) 0%, rgba(150,193,255,1) 100%);*/

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead-features {
    min-height: 400px;

    padding-top: 7rem;

    background: rgb(123,31,162);
    background: linear-gradient(180deg, rgba(46,93,148,1) 0%, rgba(73,150,241,1) 80%, rgba(255,255,255,1) 80%);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.features {
    position: absolute;
    left: 10%;
    margin-left: -38rem;
}

.display-card {
    display: inline-block;
}

.form-upload {
    display: flex;
}

.job:hover {
    border: 1;
    border-color: #96bfff !important;
}

.modal-footer {
    justify-content: flex-start !important;
}

@media only screen and (max-width: 726px) {
    .jingle {
        display: none;
    }

    .shrink {
        font-size: 50px !important;
    }

    .card {
        width: 80% !important;
        margin: 0 auto;
    }

    .features {
        position: relative;
    }

    .form-upload {
        display: block;
    }
}

.card {
    margin-left: 30px;
    margin-right: 30px;
    border: none;
}