@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    
}

p {
   color: #55595c; 
}

.btn-primary {
    background-color: #8455ca;
}

.masthead {
    min-height: 100px;

    padding-top: 7rem;
    padding-bottom: 5rem;

    background:  linear-gradient(52deg, rgba(123,31,162,1) 0%, rgba(150,193,255,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


h1 {
    color: #8455ca;
    font-size: 80px;
    font-weight: 800;
}

h2 {
    font-weight: 800;
}

#loginArea {
    background: url(imgs/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size:  */
}

#learnMore {
    padding-top: 3rem;
    padding-left: 20em;
    padding-right: 20em;
    padding-bottom: 3rem;
    background-color: white;
}

.letsGetStarted {
    background-color: #8455ca; /* PURPLE THEME */
    padding-top: 3rem;
    padding-bottom: 3rem;
}


@media only screen and (max-width: 726px) {
    .jingle {
        display: none;
    }

    .h1 {
        font-size: 55px !important;
    }

    .card {
        width: 80% !important;
        margin: 0 auto;
    }
}

.learnCards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card {
    margin-left: 30px;
    margin-right: 30px;
    border: none;
}


learnBody {
    color: #55595c;
    font-size: 32px;
}